input {
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 45px;
}
div{
		display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
align-content: space-between;
	align-items:center;
	padding: 10px;
	width: 195px;
	height: 195px;
	border: 2px solid #000;
}
#mainDiv {
	margin: 0 auto;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 750px;
	height: 700px;
}

button {
	position: absolute;
}

#start{
	top:50px;
	left: 100px;
}

#restart{
	top:100px;
	left: 100px;
}
